@import url("https://fonts.googleapis.com/css?family=Open+Sans%7CRoboto:400,700&display=swap%22");

body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 0;
    background-color: #fcf9f9;
}

.menu {
    display: flex;
    justify-content: space-around;
    align-items: center;
    box-shadow: 0px 2px 20px 0px rgba(0, 0, 0, 0.5);
    background-color: #fff;
    border-bottom: 1px solid #f1f1f1;
    color: hsl(205, 78%, 60%);
}

.menu h1{
    margin: 0;
}

.menu ul {
    display: flex;
    list-style: none;
    margin: 0;
}

.menu ul a {
    display: flex;
    align-items: center;
    padding: 15px;
    color: hsl(205, 86%, 17%);
    text-decoration: none;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 18px;
    font-weight: 500;
}

section{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    height: 100vh;
}

section button{
    border: 2px solid #222;
    text-transform: uppercase;
    padding: 8px 15px;
    border-radius: 3px;
    background-color: transparent;
    font-family: "Roboto", sans-serif;
    font-weight: 700;
    cursor: pointer;
}

section h1{
    background-color: black;
    color:rgb(255, 255, 255);
    padding: 10px;
    border-radius: 5px;
    font-size: 50px;
}